<script type="text/javascript" src="{{ '/assets/js/vminpoly/polyfill.js?v='
    | append: site.github.build_revision | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vminpoly/tokenizer.js?v='
    | append: site.github.build_revision | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vminpoly/parser.js?v='
    | append: site.github.build_revision | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vminpoly/vminpoly.js?v='
    | append: site.github.build_revision | relative_url }}"></script>
