---
---

body {
  margin: 0;
  background-color: black;
}
#JC {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: opacity 3s cubic-bezier(.6,0,1,.9);
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 3s cubic-bezier(.6,0,1,.9);
}
