---
layout: compress
---
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | escape }}
      {% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}
    {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}
    {{ page.description | default: site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' 
    | prepend: site.baseurl | prepend: site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/show.css?v=' 
    | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
  {{ content }}
  {% include vminpoly.html %}
  </body>
</html>
