---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% if page.title %}{{ page.title | escape }}
      {% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
    {% else %}{{ page.description | default: site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/show.css?v=' 
    | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {{ content }}
  </body>
</html>
